@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #040039;
    --secondary-color: #535354;
    --background-color: #1A1C21;
    --shadow-color: rgba(190, 12, 12, 0);
    --white-color: #FFF;
    --black-color: #000;
    --input-border-color: #E3E4E6;
    --transition-3s: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-color);
    transition: var(--transition-3s);
}

a:hover {
    text-decoration: underline;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background: url('login_registration.png') no-repeat center center fixed;
    background-size: cover;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 430px;
    min-height: 500px; 
    background: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 15px rgba(223, 219, 219, 0.5);
    padding: 120px 32px 64px;
    transition: var(--transition-3s);
    border-radius: 5px;
    position: relative;
    overflow: visible;
}

.form-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    background-color: rgba(128, 128, 128, 0.777);
    border-radius: 0 0 20px 20px;
}

.titles {
    position: relative;
}

.title-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 24px;
    transition: var(--transition-3s);
}

.login-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: var(--transition-3s);
}

.input-box {
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: white;
    padding: 0 20px;
    border: 1px solid var(--white-color);
    border-radius: 30px;
    outline: none;
    transition: var(--transition-3s);
}
.input-field:focus{ 
    background-color: transparent;
    border: 1px solid var(--white-color);
}
.input-field:hover {
    border-color: var(--white-color);
    background-color: rgba(128, 125, 125, 0.1);
}


.label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--white-color);
    transition: 0.2s;
    cursor: text;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    top: 0;
    font-size: 16px;
    background-color: transparent;
    color: var(--white-color);
    padding: 0 10px;
}
.input-field:valid ~ .label{
    color: var(--white-color);
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--white-color);
}
.form-cols {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.col-1 {
    display: flex;
    align-items: center;
    gap: 6px;
}
.col-1 input[type="checkbox"] {
    accent-color: rgb(255, 255, 255);
    cursor: pointer;
}
.col-1 label {
    color: white;
    cursor: pointer;
}
.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    color: var(--white-color);
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    border: 1px solid var(--white-color);
    cursor: pointer;
    transition: var(--transition-3s);
}

.btn-submit:hover {
    gap: 2px;
    background: #FFF;
    color: #000;
}
.btn-submit i {
    font-size: 20px;
}

.switch-form {
    text-align: center;
    color: #E3E4E6;
}

.switch-form a {
    font-weight: 500;
}
.contus{
    color: blue;
}
.reg{
    color: blue;
}

.navbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent; 
    transition: background-color 0.4s ease;
}


.navbar.scrolled {
    background-color: black;
}

.navbar_container {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}


.logo_container {
    flex: 0 0 auto;
}

.logo {
    font-size: 30px;
    color: blue;
}

.menu_container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu_list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu_list li{
    list-style: none;
}

.menu_list li a{
    position: relative;
    color: white;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.menu_list li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: blue;
    transition: all 0.4s ease;
}

.menu_list li a:hover:before{
    width: 100%;
}


.right_section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search_input {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-left: 20px;

} 

.log_in_button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    transition: 0.2s;
}

.log_in_button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.social_icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.social_icons li {
    list-style: none;
}
.social_icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
}
.social_icons a i {
    color: black;
    font-size: 20px;
}
.footer_nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.footer_nav ul a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
ul {
    list-style-type: none;
}
.footer_nav ul a:hover {
    color: #ccc;
}
footer {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
}
footer p {
    font-size: 14px;
    margin: 0;
}
footer .designer {
    font-size: 12px;
    letter-spacing: 1px;
}
